* {
  /* universal selector */
  /* border-top: 5px solid black; not helpful*/
  margin: 0;
  padding: 0;
}

/* PAGE SECTIONS */

body {
  color: #6e1616;
  font-family: sans-serif; /*it is not applied to all child elements*/
}

.container {
  width: 700px;
  margin: 0 auto;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

h1,
h2,
h3 {
  color: #6b16c0;
  margin-bottom: 30px;
}

.head {
  background-color: #eb8282;
  padding: 20px 10px;
  margin-bottom: 60px;
  height: auto;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #eb8282;
  border-top: 5px solid #6b16c0;
  border-bottom: 5px solid #6b16c0;
  padding: 50px 50px;
  width: 500px;
}
/* SMALLER ELEMENTS */

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #6b16c0;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}
/* footer p {
  font-size: 16px;
} */

/* only one line of the group of paragraph in italic */
/* article header p {
  font-size: italic;
} */

/* id and avoid big selectors */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* when i need to change multiple paragraphs without using id...there class comes handy */
/* we use . for classes */

.related-author {
  font-size: 18px;
  font-weight: bold;
}

/* when for example the p gets called three times in the css...so which rule it should follow. */
/* all of these are going to apply */
.bullets {
  list-style: none;
}

/* WORKING WITH COLOURS */

/* #dotted, solid */
body {
  background-color: lightblue;
}

/* pseudo class */

/* .first-li {
  font-weight: bold;
} */

/* css will figure out which is the first point */

li:first-child {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* } it will select all the l1 elements */

li:last-child {
  font-style: italic;
}

li:nth-child(2) {
  color: red;
}
/* i can also write odd and even in place of number */

/* this selector should have selected the first p element */

article p :first-child {
  color: red;
}

/* first child is actually a header ..it will only work if the first element is p*/

/* this wont work */
article p:first-child {
  color: blue;
}
/* it will work ^^^ */

/* a {
  color: blue
} */

/* styling links */
/* pseudo link */

/* this will target only href attributes */
a:link {
  color: rgb(218, 228, 31);
  text-decoration: none;
}

a:visited {
  color: rgb(218, 228, 31);
  text-decoration: none;
}

a:hover {
  color: rgb(101, 32, 191);
  font-weight: bold;
  text-decoration: underline rgb(216, 51, 51);
}

/* active pseeudo class */
a:active {
  background-color: rgb(216, 51, 51);
  font-style: italic;
}

/* priority of the elements and class and id */
#copyright {
  color: rgb(190, 55, 55);
}

.copyright {
  color: rgb(81, 248, 52);
}

.text {
  color: yellow;
}

footer p {
  color: rgb(122, 8, 160) !important;
}

nav p {
  font-size: 18;
  color: rgb(66, 18, 18);
}

.post-img {
  width: 100%;
  height: auto;
}
