* {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
}

.new_edit {
  border: 3px solid black;
  width: 825px;
  margin: 0 auto;
}

body {
  font-family: sans-serif;
}

.shipping {
  font-size: 18px;
  color: rgb(251, 130, 195);
  margin-top: 20px;
}

a:link {
  color: rgb(30, 212, 45);
  text-decoration: underline;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

button {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
  border: 3px solid black;
}

button:hover {
  background-color: rgb(247, 247, 247);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.main-head {
  background-color: rgb(245, 240, 240);
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 20px 90px;
}

ul {
  list-style-type: square;
  margin-left: 40px;
  margin-bottom: 20px;
}

.list {
  margin-bottom: 10px;
}

.price {
  font-weight: 1000;
}
